In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("Selenium/Data.csv")

In [3]:
df.head()

,Player,Tackles,Inter,Clear,Blocks,SpG,KeyP,Drb,Fouled,PS%,...,LongB,ThrB,CF,WF,AM,WM,CM,DM,FB,CB
0,Kevin De Bruyne Man City,0.9,0.2,0.4,0.1,2.2,3.2,1.0,0.8,79.5,...,2.5,0.4,1,0,0,1,1,0,0,0
1,Kieran Trippier Newcastle,2.0,1.3,1.9,0.4,0.4,2.9,0.5,0.9,74.7,...,3.4,0.2,0,0,0,1,0,0,1,0
2,Gabriel Jesus Arsenal,1.2,0.5,0.5,0.1,3.3,1.4,2.0,2.4,82.3,...,0.5,0.1,1,1,0,0,0,0,0,0
3,Erling Haaland Man City,0.1,0.1,0.4,0.1,3.5,0.8,0.2,0.7,75.6,...,0.0,0.1,1,0,0,0,0,0,0,0
4,Harry Kane Tottenham,0.3,0.1,0.4,0.2,3.6,1.5,1.2,1.4,72.2,...,1.9,0.2,1,0,1,0,0,0,0,0

In [4]:
X = df.iloc[:, 1:13]

In [5]:
y = df.iloc[:, 13:]

In [6]:
X = X.to_numpy()

In [7]:
y = y.to_numpy()

In [8]:
from sklearn.preprocessing import MinMaxScaler

In [9]:
scaler = MinMaxScaler()

In [10]:
X = scaler.fit_transform(X)

In [11]:
from skmultilearn.model_selection import iterative_train_test_split

In [12]:
X_train, y_train, X_test, y_test = iterative_train_test_split(X, y, test_size=0.3)

In [13]:
X_tr = pd.DataFrame(X_train)

In [14]:
X_tr.columns = df.columns[1:13]

In [15]:
X_tst = pd.DataFrame(X_test)

In [16]:
X_tst.columns = df.columns[1:13]

In [17]:
y_tr = pd.DataFrame(y_train)

In [18]:
y_tr.columns = df.columns[13:]

In [19]:
y_tst = pd.DataFrame(y_test)

In [20]:
y_tst.columns = df.columns[13:]

In [21]:
pd.DataFrame(X_tr).to_csv("X_train.csv", index=False)

In [22]:
pd.DataFrame(X_tst).to_csv("X_test.csv", index=False)

In [23]:
pd.DataFrame(y_tr).to_csv("y_train.csv", index=False)

In [24]:
pd.DataFrame(y_tst).to_csv("y_test.csv", index=False)

In [25]:
X_tr.head()

,Tackles,Inter,Clear,Blocks,SpG,KeyP,Drb,Fouled,PS%,Crosses,LongB,ThrB
0,0.073171,0.04,0.049383,0.090909,0.750000,0.441176,0.342857,0.378378,0.545098,0.052632,0.243590,0.153846
1,0.512195,0.40,0.135802,0.227273,0.354167,0.323529,0.228571,0.135135,0.921569,0.026316,0.679487,0.076923
2,0.243902,0.04,0.037037,0.045455,0.562500,0.676471,0.400000,0.189189,0.784314,0.184211,0.192308,0.230769
3,0.414634,0.32,0.111111,0.045455,0.500000,0.470588,0.457143,0.351351,0.662745,0.263158,0.269231,0.076923
4,0.170732,0.20,0.123457,0.136364,0.604167,0.235294,0.114286,0.594595,0.309804,0.052632,0.051282,0.153846

In [26]:
X_df = pd.DataFrame(X)

In [27]:
X_df.columns = X_tr.columns.to_list()

In [28]:
X_df.columns

Index(['Tackles', 'Inter', 'Clear', 'Blocks', 'SpG', 'KeyP', 'Drb', 'Fouled',
       'PS%', 'Crosses', 'LongB', 'ThrB'],
      dtype='object')

In [29]:
X_df['Player'] = df[['Player']]

In [30]:
X_df = X_df[['Player', 'Tackles', 'Inter', 'Clear', 'Blocks', 'SpG', 'KeyP', 'Drb', 'Fouled',
       'PS%', 'Crosses', 'LongB', 'ThrB']]

In [31]:
df_X_tr = pd.merge(X_tr, X_df, on=X_tr.columns.to_list())

In [32]:
df_X_tr = df_X_tr[['Player', 'Tackles', 'Inter', 'Clear', 'Blocks', 'SpG', 'KeyP', 'Drb', 'Fouled',
       'PS%', 'Crosses', 'LongB', 'ThrB']]

In [33]:
df_X_tr.to_csv("X_train.csv", index=False)

In [34]:
df_X_tst = pd.merge(X_tst, X_df, on=X_tst.columns.to_list())

In [35]:
df_X_tst = df_X_tst[['Player', 'Tackles', 'Inter', 'Clear', 'Blocks', 'SpG', 'KeyP', 'Drb', 'Fouled',
       'PS%', 'Crosses', 'LongB', 'ThrB']]

In [36]:
df_X_tst.to_csv("X_test.csv", index=False)